# Игнорировать node_modules (для фронтенда)
node_modules/
package-lock.json

# Игнорировать виртуальное окружение Python (для бэкенда)
venv/
env/
.venv/

# Игнорировать скрытые файлы и директории
.*
!.gitignore
!.dockerignore

# Игнорировать логи
*.log

# Игнорировать кэш
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd

# Игнорировать статические файлы (если они собираются в процессе сборки)
# staticfiles/
# media/
dist/